<ion-content class="corpoHome">
  <img class="logo" src="../../../assets/icon/logo-kibeleza.svg" alt="Logo KiBeleza" />

  <ion-row>
    <ion-col size="6">
      <ion-tab-button tab="sobre">
        <img src="../../../assets/btn-mod-2.png" alt="Btn KiBeleza" />
      </ion-tab-button>
    </ion-col>
    <ion-col size="6">
      <ion-tab-button tab="lista-servico">
        <img src="../../../assets/btn-mod-3.png" alt="Btn KiBeleza" />
      </ion-tab-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-slides>
        <ion-slide>
          <img src="../../../assets/slide-mod-2.png" alt="Btn KiBeleza" />
        </ion-slide>
        <ion-slide>
          <img src="../../../assets/slide-mod-3.png" alt="Btn KiBeleza" />
        </ion-slide>
        <ion-slide>
          <img src="../../../assets/slide-mod-4.png" alt="Btn KiBeleza" />
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>

  <ion-row class="redeSocial">
    <ion-col size="3">
      <img src="../../../assets/icon/icon-face.svg" alt="Btn KiBeleza" />
    </ion-col>
    <ion-col size="3">
      <img src="../../../assets/icon/icon-insta.svg" alt="Btn KiBeleza" />
    </ion-col>
    <ion-col size="3">
      <img src="../../../assets/icon/icon-twitter.svg" alt="Btn KiBeleza" />
    </ion-col>
    <ion-col size="3">
      <img src="../../../assets/icon/icon-link.svg" alt="Btn KiBeleza" />
    </ion-col>
  </ion-row>
</ion-content>
