.corpoHome {
  --background: #fff url("../../../assets/bg-lista-servico.png") no-repeat center center / cover;
  text-align: center;
}
ion-toolbar { --background: #9f87bb; }
ion-title {  text-align: center;  text-transform: uppercase;  font-weight: 800;}
.servicoItem {  text-align: justify;}
.servicoItem h4 {  margin-top: 0;  color: #333;  font-size: 1.2em;}
.servicoItem p {  font-size: 0.6em;  padding-right: 2%; }
.iconDetalhe {  float: right;  font-size: 1.5em; }
ion-row {  background: #9f87bb91;  padding: 2% 0 0 0; }
ion-row:nth-child(even) {   background: #37353846;   padding: 2% 0 0 0; }
