<ion-header>
    <ion-toolbar>
        <ion-title>Lista Serviço</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="corpoHome ">
    <ion-searchbar></ion-searchbar>

    <ion-row
        class="servicoItem"
        *ngFor="let servico of servicos"
    >
        <ion-col size="4">
            <img
                [src]="servidorUrl.pegarUrl()+servico.fotoUm"
                alt="Serviço KiBeleza"
            >
        </ion-col>
        <ion-col size="8">
            <h4>{{ servico.Nome }}</h4>
            <p>{{ servico.Descricao }}</p>
            <a
                href="#"
                class="iconDetalhe"
            >
                <ion-icon name="arrow-dropright-circle"></ion-icon>
            </a>
        </ion-col>
    </ion-row>

</ion-content>
