.corpoHome {
  --background: #fff url("../../../assets/bg-sobre.png") no-repeat center center / cover;
  text-align: center;
  --padding-top: 5%;
  --padding-start: 5%;
  --padding-end: 5%;
  --padding-bottom: 5%;
}
.logo {
  width: 50%;
  margin-top: 8%;
}
ion-row {
  margin: 5% 0;
}
.redeSocial img {
  width: 50%;
}
ion-toolbar {
  --background: #9f87bb;
}
ion-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
}

p {
  text-align: justify;
  font-size: 0.8em;
}
