<ion-header>
  <ion-toolbar>
    <ion-title>sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="corpoHome">
  <img class="logo" src="../../../assets/icon/logo-kibeleza.svg" alt="Logo KiBeleza" />

  <ion-row>
    <ion-col size="12">
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
        been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
        galley of type and scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
        passages, and more recently with desktop publishing software like Aldus PageMaker including
        versions of Lorem Ipsum.
      </p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-slides>
        <ion-slide>
          <img src="../../../assets/slide-mod-4.png" alt="Btn KiBeleza" />
        </ion-slide>
        <ion-slide>
          <img src="../../../assets/slide-mod-2.png" alt="Btn KiBeleza" />
        </ion-slide>
        <ion-slide>
          <img src="../../../assets/slide-mod-3.png" alt="Btn KiBeleza" />
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>

  <ion-row class="redeSocial">
    <ion-col size="3">
      <img src="../../../assets/icon/icon-face.svg" alt="Btn KiBeleza" />
    </ion-col>
    <ion-col size="3">
      <img src="../../../assets/icon/icon-insta.svg" alt="Btn KiBeleza" />
    </ion-col>
    <ion-col size="3">
      <img src="../../../assets/icon/icon-twitter.svg" alt="Btn KiBeleza" />
    </ion-col>
    <ion-col size="3">
      <img src="../../../assets/icon/icon-link.svg" alt="Btn KiBeleza" />
    </ion-col>
  </ion-row>
</ion-content>
